@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w konfiguratorze pojazdu</h1>
    <img src="~/img/pojazd.jpg" class="img-fluid border main-img" />
    <p><a asp-controller="UsersConfigurations" asp-action="Create" class="btn btn-primary">Skonfiguruj swój pojazd już teraz</a></p>
</div>
